@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.h-screen-minus-nav {
  height: calc(100vh - 80px); /* Ajustez 80px selon la hauteur de votre navigation */
}


html {
  scroll-behavior: smooth;
}


/* Scrollbar style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 10px;
  border: 2px solid #1f2937;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}
