@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.h-screen-minus-nav {
  height: calc(100vh - 80px); /* Ajustez 80px selon la hauteur de votre navigation */
}